<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript"  src="/javascripts/jquery.js"></script>
    <script type="text/javascript"  src="/javascripts/json2.js"></script>
  </head>
  <body background="../images/u=448124102,4271476439&fm=21&gp=0.jpg">
    <h1><%= title %></h1>
    <br>
    <br>
    <a class="btn" href="/home">Back</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn" href="/logout">Logout</a>
    <br>

  </body>
</html>
